@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  -webkit-touch-callout: none; /* リンク長押しのポップアップを無効化 */
  -webkit-user-select: none; /* テキスト長押しの選択ボックスを無効化 */
}

.dark-main-background-color {
  background-color: #343541;
}

.moveNowBorderLinearProgress {
  pointer-events: none;
  border-radius: 5px;
  height: 20px;
  width: 100px;
  background-color: #eeeeeecc;
  z-index: 999;
  position: fixed;
}

.moveNowBorderLinearProgress .bar {
  border-radius: 5px;
}
.bar {
  z-index: 9999;
  height: 20px;
}

.grouping-canvas {
  pointer-events: none;
}

.back-button {
  z-index: 9999;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.perspective-1000 {
  perspective: 1000px;
}

/* styles.css */
@keyframes fadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

@keyframes moveLayers {
  from {
    transform: translateX(0) translateZ(0) rotateY(-10deg);
  }
  to {
    transform: translateX(var(--translateX)) translateZ(var(--translateZ)) rotateY(-10deg);
  }
}

.layer-animation {
  animation: moveLayers 1s forwards;
}

.tl-background__wrapper {
  z-index: -1;
}

.tlui-layout {
  z-index: 9999;
}
.tlui-layout__top {
  z-index: 9999;
}

.tl-background {
  z-index: -1;
}

.tl-image {
  z-index: -1;
}

.tlui-buttons__horizontal button {
  width: 60px;
  height: 60px;
}

.tlui-buttons__vertical button div {
  width: 60px !important;
  height: 60px !important;
}