@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

.dark-main-background-color {
  background-color: #343541;
}

.moveNowBorderLinearProgress {
  pointer-events: none;
  border-radius: 5px;
  height: 20px;
  width: 100px;
  background-color: #eeeeeecc;
  z-index: 999;
  position: fixed;
}

.moveNowBorderLinearProgress .bar {
  border-radius: 5px;
}
.bar {
  z-index: 9999;
  height: 20px;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}